*.raw
*.cow
*.sock
*.raw
*.cow
*.sock
*.iso
*.tar.xz
*.tar.xz.asc
*.tar.xz.sha256
.*.kak.*
*.lock
*.pid
*.fd
*.xz
*.img

target

stages/
ssh-wrapper
sshpass-wrapper
ssh/
ssh/*/ssh/

targets/*/checkpoints
targets/*/ssh-wrapper
targets/*/ sshpass-wrapper
targets/*/options.mk

ansible/host

targets/qemu/sendkeys.rb
