*.raw
*.cow
*.sock
*.raw
*.cow
*.sock
*.iso
*.tar.xz
*.tar.xz.sha256
.*.kak.*
*.lock
*.pid
*.fd
*.xz

target

stages/
ssh-wrapper
sshpass-wrapper
targets/*/stages
targets/*/ssh-wrapper
targets/*/ sshpass-wrapper

ansible/host
ssh/

targets/qemu/sendkeys.rb
