CONFIG_GENERIC_IRQ_EFFECTIVE_AFF_MASK=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_GENERIC_IRQ_MIGRATION=y
# CONFIG_NO_HZ_IDLE is not set
CONFIG_NO_HZ_FULL=y
CONFIG_CONTEXT_TRACKING_USER=y
# CONFIG_CONTEXT_TRACKING_USER_FORCE is not set
# CONFIG_SCHED_CORE is not set
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_VIRT_CPU_ACCOUNTING_GEN=y
CONFIG_CPU_ISOLATION=y

CONFIG_RCU_NOCB_CPU=y
# CONFIG_RCU_NOCB_CPU_DEFAULT_ALL is not set
# CONFIG_RCU_LAZY is not set
CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
# CONFIG_UCLAMP_TASK is not set
CONFIG_SCHED_MM_CID=y
# CONFIG_CPUSETS is not set
CONFIG_KALLSYMS_ABSOLUTE_PERCPU=y
CONFIG_X86_64_SMP=y
CONFIG_SMP=y
# CONFIG_PARAVIRT_SPINLOCKS is not set
# CONFIG_MAXSMP is not set
CONFIG_NR_CPUS_RANGE_BEGIN=2
CONFIG_NR_CPUS_RANGE_END=512
CONFIG_NR_CPUS_DEFAULT=64
CONFIG_NR_CPUS=64
CONFIG_SCHED_CLUSTER=y
CONFIG_SCHED_SMT=y
CONFIG_SCHED_MC=y
CONFIG_SCHED_MC_PRIO=y
# CONFIG_MICROCODE_LATE_LOADING is not set
# CONFIG_NUMA is not set
CONFIG_HOTPLUG_CPU=y
CONFIG_PM_SLEEP_SMP=y
# CONFIG_ENERGY_MODEL is not set
CONFIG_ACPI_HOTPLUG_CPU=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_HOTPLUG_SMT=y
CONFIG_HOTPLUG_CORE_SYNC=y
CONFIG_HOTPLUG_CORE_SYNC_DEAD=y
CONFIG_HOTPLUG_CORE_SYNC_FULL=y
CONFIG_HOTPLUG_SPLIT_STARTUP=y
CONFIG_HOTPLUG_PARALLEL=y
CONFIG_PADATA=y
CONFIG_MUTEX_SPIN_ON_OWNER=y
CONFIG_RWSEM_SPIN_ON_OWNER=y
CONFIG_LOCK_SPIN_ON_OWNER=y
CONFIG_QUEUED_SPINLOCKS=y
CONFIG_QUEUED_RWLOCKS=y
CONFIG_SLUB_CPU_PARTIAL=y
# CONFIG_DEFERRED_STRUCT_PAGE_INIT is not set
CONFIG_PER_VMA_LOCK=y
CONFIG_PCPU_DEV_REFCNT=y
CONFIG_RPS=y
CONFIG_RFS_ACCEL=y
CONFIG_SOCK_RX_QUEUE_MAPPING=y
CONFIG_XPS=y
CONFIG_NET_FLOW_LIMIT=y
# CONFIG_INTEL_IFS is not set
# CONFIG_INTEL_TURBO_MAX_3 is not set
CONFIG_BCACHEFS_SIX_OPTIMISTIC_SPIN=y
# CONFIG_CRYPTO_PCRYPT is not set
CONFIG_CPU_RMAP=y
# CONFIG_PER_VMA_LOCK_STATS is not set
# CONFIG_DEBUG_PER_CPU_MAPS is not set
CONFIG_HAVE_HARDLOCKUP_DETECTOR_BUDDY=y
# CONFIG_CPU_HOTPLUG_STATE_CONTROL is not set
